body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

main {
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
  display: block;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

label {
  margin-bottom: 0.5rem;
}

button {
  background-color: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

a:hover {
  color: #666;
}

/* Add this rule for the submit button */
button[type='submit'] {
  display: block;
  margin: 0 auto;
}

/* Show only the home section initially */
#home {
  display: block;
}

.remove-margin {
  margin-bottom: 0;
}

/* Custom Styles to Adjust Vertical Alignment in Navbar */
.navbar-nav {
  align-items: center;
}

.navbar-nav .nav-item {
  margin-bottom: 0; /* Remove default bottom margin */
}

.navbar-nav .nav-link {
  padding: 0.5rem 1rem; /* Adjust padding as needed */
  border: 1px solid transparent; /* Add a transparent border initially */
  transition: border-color 0.3s; /* Add transition for smooth hover effect */
}

.navbar-nav .nav-link:hover {
  border-color: #ffffff; /* Change border color on hover */
}

/* Mobile view adjustments */
@media (max-width: 767px) {
  .navbar-nav {
    width: 100%; /* Make navbar items full-width */
    text-align: left !important;
  }

  #view-transactions {
    display: none;
  }

  .desktop-only {
    display: none;
  }

  .navbar-nav .nav-item {
    margin-bottom: 0.5rem; /* Add some vertical spacing between items */
  }
}
